In [1]:
import pandas as pd
import random
from random import sample

In [2]:
# simple example 
list1 = [1, 2, 3, 4, 5]   
print(sample(list1,3))

[1, 3, 5]

In [3]:
Hotels=["Aloha Kai","Captiva","Palm Tree","Sea Shell","Anchor Down",
        "Casa del Mar","Radisson","Silver Beach","Banana Bay", "Coconuts",
        "Ramada","Sunset Beach","Banyan Tree","Diplomat","Sandpiper","Tradewinds",
        "Beach Castle","Holiday Inn","Sea Castle","Tropical Breeze", "Best Western","Lime Tree",
        "Sea Club","Tropical Shores","Cabana","Outrigger","Sea Grape","Veranda"]

In [4]:
print(sample(Hotels,4))

['Outrigger', 'Tropical Breeze', 'Palm Tree', 'Banana Bay']

In [5]:
# What about if you read the data from a CSV file? 
Hotels=pd.read_csv("Hotels.csv")
Hotels.head(5)

   ID          Name
0   1     Aloha Kai
1   2   Anchor Down
2   3    Banana Bay
3   4   Banyan Tree
4   5  Beach Castle

In [6]:
# Try this: print(sample(Hotels["Name"],4)). It will give you an error. Hotels["Name"] needs to be a list or set.
# sample(Hotels["Name"],4)

In [7]:
print(sample(list(Hotels["Name"]),4))

['Sea Castle', 'Tropical Breeze', 'Casa del Mar', 'Radisson']

In [8]:
print(sample(set(Hotels["Name"]),4))

['Veranda', 'Silver Beach', 'Outrigger', 'Beach Castle']

In [9]:
random.seed(a=36)
print(sample(set(Hotels["Name"]),4))

['Sea Club', 'Sea Shell', 'Ramada', 'Tropical Shores']

In [10]:
random.seed(a=36)
print(sample(set(Hotels["Name"]),4))

['Sea Club', 'Sea Shell', 'Ramada', 'Tropical Shores']